:root {
  --prime-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --prime-color: #555555;
  --sub-title-color: #9da4bd;
  --hero-title-color: #ffffff;
  --title-color: #303030;
  --button-color: #ff6c00;
}
